html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

/* Typography
   ========================================================================== */

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/Montserrat-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
	font-display: swap;
	font-weight: 600;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/Montserrat-Bold.ttf") format("truetype");
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
	font-display: swap;
	font-weight: 900;
}

html {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

a {
	outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 1366px) {
	html {
		font-size: 18px;
	}
}

/* Containers
   ========================================================================== */

.container {
	margin-left: 20px;
	margin-right: 20px;
}

.padding-container {
	padding-left: 20px;
	padding-right: 20px;
}

@media (min-width: 1024px) {
	.container {
		margin-left: 156px;
		margin-right: 156px;
	}

	.padding-container {
		padding-left: 156px;
		padding-right: 156px;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #498428;
	height: 62px;
}

.header .logo a {
	text-decoration: none;
}

.header .logo h1 {
	font-size: 22px;
	font-weight: 900;
	margin: 0;
	padding: calc((62px - 1.15em) / 2) 0;
	color: #fff;
	margin-right: 12px;
	user-select: none;
}

.header .cart-icon,
.header .menu-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 48px;
	min-width: 48px;
	cursor: pointer;
}

.header .cart-icon svg {
	padding: 10px;
	border-radius: 6px;
	transition: 0.15s linear;
}

.header .cart-icon:hover svg {
	background-color: rgba(255, 255, 255, 0.1);
}

.header .cart-icon .number-of-items {
	position: absolute;
	top: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: tomato;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	display: none;
}

.header .cart-icon .number-of-items.nonzero {
	display: flex;
}


@media (min-width: 1024px) {
	.header {
		height: 124px;
	}

	.header .logo h1 {
		font-size: 40px;
	}

	.header .search {
		margin-left: 60px;
		width: 560px;
	}

	.header .search input {
		height: 52px;
		font-size: 16px;
		padding: 0 36px;
	}

	.header .cart-icon {
		margin-left: auto;
	}

	.header .cart-icon svg {
		min-height: 36px;
		width: 36px;
		object-fit: contain;
	}
}

.products {
	margin-bottom: 30px;
}

.section-title {
	font-size: 20px;
	color: #33692b;
	font-weight: 700;
	text-align: center;
	margin-bottom: 30px;
}

.products .card {
	box-shadow: 0px 3px 8px #0000003b;
	border-radius: 30px;
	height: 300px;
	max-width: 330px;
	margin: 0 auto 20px;
}

.products .card .card-img {
	height: 160px;
	padding: 28px 54px;
	box-sizing: border-box;
}

.products .card .card-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.products .card .card-content {
	height: 136px;
	border-radius: 26px;
	background-color: #498428;
	margin: 0 4px 4px;
	color: #fff;
	text-align: center;
	padding: 18px 0;
	box-sizing: border-box;
}

.products .card .card-content .product-title {
	margin: 0 0 9px;
	font-size: 14px;
}

.products .card .card-content .product-price {
	margin: 0 0 16px;
	font-size: 20px;
	font-weight: 700;
}

.products .card .card-content .add-to-card {
	border-radius: 20px;
	background-color: #c1d95f;
	color: #1F3911;
	font-size: 14px;
	font-weight: 600;
	border: none;
	padding: 11px 25px;
	cursor: pointer;
	transition: 150ms linear;
}

.products .card .card-content .add-to-card:active {
	background-color: #c5e63e;
}

@media (min-width: 1024px) {
	.products {
		margin-bottom: 50px;
	}

	.section-title {
		font-size: 35px;
		margin-bottom: 55px;
	}

	.products .cards-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.products .cards-wrapper .card {
		width: calc((100% - 48px) / 4);
		max-width: none;
	}
}

footer {
	background-color: #498428;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}

footer .name {
	font-weight: 600;
}

/* Cart Styles */
.cart .cards-wrapper {
	margin: 0 20px 20px;
}

.cart .card-header {
	display: none;
}

.cart .cards-wrapper .card {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #d6d6d6;
	padding: 16px 10px;
}

.cart .cards-wrapper .card .card-content:first-child {
	flex: 1;
}

.cart .cards-wrapper .card .card-content:last-child {
	flex: 1 0 100%;
}

.cart .cards-wrapper .card .product-title {
	color: #498428;
	font-weight: 600;
	font-size: 16px;
}

.cart .card .card-content .product-price {
	font-size: 14px;
	font-weight: 300;
	color: #777777;
}

.cart .card .card-content .qty {
	display: block;
	border-radius: 18px;
	border: 1px solid #498428;
	color: #777777;
	font-size: 14px;
	font-weight: 700;
	padding: 9px 40px;
	width: 110px;
	margin: 0 auto 10px;
	box-sizing: border-box;
	text-align: center;
}

.cart .card .card-content .remove {
	border: none;
	background-color: transparent;
	padding: 0;
	color: #ff5757;
	font-size: 16px;
	font-weight: 300;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

.cart .card .card-content .total-price {
	color: #434343;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}

.cart .card .card-img {
	height: 72px;
	width: 110px;
	margin-right: 24px;
	box-sizing: border-box;
}

.cart .card .card-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.total .total-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f4f5e1;
	padding: 15px 25px;
	box-sizing: border-box;
	max-width: 310px;
	border-radius: 10px;
	margin: 30px auto 30px;
}

.total .total-wrapper .title,
.total .total-wrapper .price {
	color: #434343;
	font-weight: 600;
	font-size: 18px;
	display: inline-block;
	width: 50%;
	margin-bottom: 30px;
	margin-top: 10px;
}

.total .total-wrapper .price {
	text-align: right;
}

.total .total-wrapper .close-order {
	text-decoration: none;
	display: block;
	margin: 0 auto;
	padding: 11px 47px;
	background-color: #c1d95f;
	font-weight: 600;
	color: #1F3911;
	font-size: 14px;
	border-radius: 20px;
}

@media (min-width: 1024px) {
	.cart .card-header {
		display: block;
		display: flex;
		align-items: center;
		max-width: 1000px;
		margin: 0 auto;
		padding: 22px 10px;
		box-sizing: border-box;
        background-color: #f0f2d2;
        border-radius: 6px;
	}

	.cart .card-header h3 {
		color: #498428;
		font-weight: 600;
        font-size: 16px;
        margin: 0;
	}

	.cart .card-header .product {
        width: 434px;
        padding-left: 15px;
        box-sizing: border-box;
	}

	.cart .card-header .value,
	.cart .card-header .total-title {
		width: 150px;
		text-align: center;
	}

	.cart .card-header .amount {
		width: 110px;
		margin: 0 auto;
		text-align: center;
	}

	.cart .cards-wrapper,
	.total {
		max-width: 1000px;
		margin: 0 auto 20px;
	}

	.cart .cards-wrapper .card .card-content {
		display: flex;
		align-items: center;
	}

	.cart .cards-wrapper .card .card-content:first-child {
		flex: 0;
	}

	.cart .cards-wrapper .card .card-content:last-child {
		flex: 1;
	}

	.cart .cards-wrapper .card .card-content .product-title {
		width: 300px;
	}

	.cart .cards-wrapper .card .card-content .product-price {
		width: 150px;
		text-align: center;
	}

	.cart .cards-wrapper .card .card-content .total-price {
		width: 150px;
	}

	.cart .card .card-content .qty-remove {
		margin: 0 auto;
	}

    .cart .cards-wrapper .empty-cart {
        text-align: center;
    }

	.total .total-wrapper {
		margin-right: 0;
	}
}


/* Checkout Styles */
.checkout {
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 43px;
	padding: 44px 30px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.checkout input[type="text"],
.checkout input[type="email"] {
	border: 1px solid #498428;
	display: block;
	border-radius: 23px;
	color: #1e1e1e;
	padding: 14px 17px;
	font-size: 14px;
	font-weight: 300;
	width: 100%;
	max-width: 700px;
	margin: 0 auto 20px;
	box-sizing: border-box;
}

.checkout input[type="text"]::placeholder,
.checkout input[type="email"]::placeholder {
	color: #777777;
}

.checkout input[type="submit"] {
	color: #1F3911;
	background-color: #C1D95F;
	border-radius: 20px;
	font-weight: 600;
	font-size: 14px;
	padding: 14px 71px;
	border: 1px solid #498428;
	cursor: pointer;
}

.checkout input.items {
	display: none;
}